.note
  margin 2rem auto
  background lighten($color-background, 2%)
  padding 1em 2em 1em 2em
  border-left 3px solid transparent
  position relative
  text-align left
.note::before
  font 1rem/1.75 $font-stack-common
  position absolute
  left -2px
  transform translateX(-50%)
  size rem(28px)
  text-align center
  border-radius 50%
  color $color-background

.note--info
  border-color $color-blue
  &::before
    content 'i'
    background $color-blue

.note--success
  border-color $color-green
  &::before
    content '✓'
    background $color-green

.note--question
  border-color $color-violet
  &::before
    content '?'
    background $color-violet

.note--important
  border-color $color-yellow
  &::before
    content '!'
    background $color-yellow

.note--alert
  border-color $color-red
  &::before
    content '!'
    background $color-red
