// COLORS

$color-background = #eee
$color-text = #222
$color-grey = #777

$color-grey = #546e7a
$color-green = #c3e88d
$color-blue = #82aac1
$color-violet = #9d7bb2
$color-yellow = #ffcb6b
$color-red = #f77669

$color-primary = $color-violet
$color-secondary = #6e7ad5
$color-dragdrop = #dfdfdf



// FONT SIZES

$font-size-base = 16px
$font-size-big = rem(24px)

// FONT FAMILIES

$font-stack-common = "Source Sans Pro", "Segoe UI", "Helvetica Neue", Roboto, Arial, sans-serif


// SIZES

$size-viewport-height = 100vh
$size-content = 50rem
