// COLORS

$color-background = #eee
$color-text = #222

$color-primary = #9d7bb2
$color-secondary = #6e7ad5


// FONT SIZES

$font-size-base = 16px
$font-size-big = rem(24px)

// FONT FAMILIES

$font-stack-common = "Source Sans Pro", "Segoe UI", "Helvetica Neue", Roboto, Arial, sans-serif


// SIZES

$size-viewport-height = 100vh
$size-content = 50rem
